<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="container-fluid ps-5">
        <h1 class="text-white offset-2">Movie Explorer</h1>
        <form class="d-flex" role="search" action="/search">
            <input class="form-control me-2 w-50 offset-2" type="search" placeholder="Search" aria-label="Search" name="title" id="title">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</body>
