<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship task</title>
</head>
<body>
    <h1>Movie Explorer</h1>
    <form action="/search">
        <input type="text" placeholder="Search movie" name="title" id="title">
        <button>Search</button>
    </form>
</body>
</html>