body{
    background-color: #202020;
}
.container-fluid{
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
}
.card-body{
    display: flex;
    justify-content: flex-start;
}
.card{
    position: relative;
    top: 10rem;
}
image{
    display: flex;
    flex-wrap: wrap;
}